<div id="login-container">
  <form>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" value="{{email}}">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" type="password" id="password" value="{{password}}">
    </div>
    {{#if error}}
    <div id="generic-login-error" class="error">{{error}}</div>
    {{/if}}
    <button id="login-btn" type="button">Login</button>
    <button id="register-btn" type="button">Register</button>
  </form>
</div>